body{
  height: 100vh;
  width: 100%
}

header{
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background: rgb(11, 155, 165); */
  background: rgb(5, 205, 219); 
  border-bottom: solid 2px rgba(236, 234, 234, 0.411);
  padding-left: 30px
}

header h1{
  color: white;
  font-size: 55px;
  font-style: italic;
  font-weight: 900;
}

header img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.hamburger{
  width: 90px;
}


.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 225px;
  width: 100%;
  padding-top: 50px;
  border-bottom: solid 4px rgba(236, 234, 234, 0.411);
}

.firstInputRow{
  width: 50%;
  display: flex;
  justify-content: space-between

}

.firstInputRow input{
  width: 150px;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgb(4, 230, 247);
  outline: none
}

.firstInputRow input::placeholder{
  font-size: 15px
}


.secondInputRow{
  width: 50%;
  display: flex;
  justify-content: space-between
}

.secondInputRow input{
  width: 150px;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgb(4, 230, 247);
  outline: none
}

.secondInputRow input::placeholder{
  font-size: 15px
}



.inputContainer button{
  height: 60px;
  width: 70px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  color: rgb(77, 75, 75);
}

.inputContainer button:hover{
  /* color: rgb(4, 230, 24); */
  color: rgb(4, 230, 247);

  cursor: pointer;
  transition-delay: .05s;
  transition-duration: 0.3s;
  
}

.listOfShoesED{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-top: solid 1px rgba(236, 234, 234, 0.411);
  border-bottom: solid 1px rgba(236, 234, 234, 0.411);
  justify-content: space-around;
}

.leftShoeInfo{
  display: block;
  width: 250px;
  /* font-family: "Lucida Console", Monaco, monospace */
}

.leftShoeInfo :nth-child(1){
  font-weight: 900;
  
}


.rightShoeInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  justify-content: space-between;
}

.rightShoeInfo .shoePrices{
  width: 95px;
  font-size: 25px;
  font-weight: 900;
}

.shoeButtons{
  display: flex;
  flex-direction: row;
  width: 75px;
  justify-content: space-between
}

.shoeButtons button{
  border: none
}

.shoeButtons :nth-child(1){
  outline-color: rgb(4, 230, 247);
  cursor: pointer;
}

.shoeButtons :nth-child(2){
  outline-color: tomato;
  cursor: pointer;
}

.fa-trash-alt{
  color: tomato
}

.fa-edit{
  /* color: rgb(23, 147, 230) */
  color: rgb(4, 230, 247)
}

.fa-dollar-sign{
  color: green;
}


input {
  font-size: inherit;
}

input:focus{
  /* border-bottom-color: peachpuff; */
  border-bottom-color: black;
  
  transition-delay: .07s;
  transition-duration: .7s;
  
  
}

.category{
  height: 50px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 900;
  border-bottom: solid 4px rgba(236, 234, 234, 0.411);
  color: rgb(4, 230, 247);
  border-top: solid 4px rgba(236, 234, 234, 0.411);

}

.items{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.items :nth-child(1){
  width: 260px
}

.itemsRight{
  display: flex;
  flex-direction: row;
  width: 210px;
  justify-content: space-between;
}


.gainLossPositive{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.gainLossPositive :nth-child(1){
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.gainP{
  color: green;
}

.profitP{
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.profitP i{
  font-size: 25px
}

.profitP p{
  font-size: 30px;
  font-weight: 900;
}

.gainLossNegative{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gainLossNegative :nth-child(1){
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.gainN{
  color: red;
}

.profitN{
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.profitN i{
  font-size: 25px;
  color: red; 
}

.profitN p{
  font-size: 30px;
  font-weight: 900;
}






























