*,
:before,
:after {
  box-sizing: border-box;
}


body{
  height: 100vh;
  width: 100%
}



header{
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background: rgb(11, 155, 165); */
  background: rgb(5, 205, 219); 
  border-bottom: solid 2px rgba(236, 234, 234, 0.411);
  padding-left: 30px;
  color: white
}

header h1{
  color: white;
  font-size: 55px;
  font-style: italic;
  font-weight: 900;
  margin-right: 20px;
}

header img{
  height: 90px;
  width: 90px;
  color: white;
}

.hamburger{
  width: 90px;
  color: white;
}


.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 225px;
  width: 100%;
  padding-top: 50px;
  border-bottom: solid 4px rgba(236, 234, 234, 0.411);
  border-left: solid 1px rgba(236, 234, 234, 0.411);
  border-right: solid 1px rgba(236, 234, 234, 0.411);
}

.firstInputRow{
  width: 50%;
  display: flex;
  justify-content: space-between

}

.firstInputRow input{
  width: 150px;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgb(4, 230, 247);
  outline: none
}

.firstInputRow input::placeholder{
  font-size: 15px
}


.secondInputRow{
  width: 50%;
  display: flex;
  justify-content: space-between
}

.secondInputRow input{
  width: 150px;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgb(4, 230, 247);
  outline: none
}

.secondInputRow input::placeholder{
  font-size: 15px
}



.inputContainer button{
  height: 60px;
  width: 70px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  color: rgb(77, 75, 75);
}

.inputContainer button:hover{
  /* color: rgb(4, 230, 24); */
  color: rgb(4, 230, 247);

  cursor: pointer;
  transition-delay: .05s;
  transition-duration: 0.3s;
  
}


.listOfShoesU{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-top: solid 1px rgba(236, 234, 234, 0.411);
  border-bottom: solid 1px rgba(236, 234, 234, 0.411);
  border-left: solid 1px rgba(236, 234, 234, 0.411);
  border-right: solid 1px rgba(236, 234, 234, 0.411);

  
  justify-content: space-around;
  margin-left: 70px;
}

.listOfShoesU input{

  height: 25px;
  width: 100px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgb(4, 230, 247);
  outline: none;

}

.leftUpdate {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.leftUpdateTop{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.rightUpdate{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  justify-content: space-between;
  margin-right: 65px
}


.rightUpdate button{
  border: none;
  cursor: pointer;
  outline: none;
}


.rightUpdate i{
  color: green;
  
}

.rightUpdate i:hover{
  color: rgba(4, 207, 4, 0.842);
  transition: .3s;
}



.listOfShoesED{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-top: solid 1px rgba(236, 234, 234, 0.411);
  border-bottom: solid 1px rgba(236, 234, 234, 0.411);
  justify-content: space-around;
  letter-spacing: 1.5px;
  border-left: solid 1px rgba(236, 234, 234, 0.411);
  border-right: solid 1px rgba(236, 234, 234, 0.411);
}

.leftShoeInfo{
  display: block;
  width: 250px;
  /* font-family: "Lucida Console", Monaco, monospace */
}

.leftShoeInfo :nth-child(1){
  font-weight: 900;
  
}


.rightShoeInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  justify-content: space-between;
}

.rightShoeInfo .shoePrices{
  width: 105px;
  font-size: 25px;
  font-weight: 900;
}

.shoeButtons{
  display: flex;
  flex-direction: row;
  width: 75px;
  justify-content: space-between
}

.shoeButtons button{
  border: none
}

.shoeButtons :nth-child(1){
  outline-color: rgb(4, 230, 247);
  cursor: pointer;
  
}

.fa-edit:hover{
  color: rgb(139, 241, 249);
}

.fa-trash-alt:hover{
  color: rgb(247, 141, 122)
}

.shoeButtons :nth-child(2){
  outline-color: tomato;
  cursor: pointer;
}

.fa-trash-alt{
  color: tomato
}

.fa-edit{
  /* color: rgb(23, 147, 230) */
  color: rgb(4, 230, 247)
}

.fa-dollar-sign{
  color: green;
}


input {
  font-size: inherit;
  
}

input:focus{
  /* border-bottom-color: peachpuff; */
  border-bottom-color: rgba(0, 0, 0, 0.74);
  
  transition-delay: .07s;
  transition-duration: .7s;
  
  
}

.category{
  height: 50px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 900;
  border-bottom: solid 4px rgba(236, 234, 234, 0.411);
  color: rgb(4, 230, 247);
  border-top: solid 4px rgba(236, 234, 234, 0.411);
  border-left: solid 1px rgba(236, 234, 234, 0.411);
  border-right: solid 1px rgba(236, 234, 234, 0.411);

}

.items{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1.3px;
}



.items :nth-child(1){
  width: 260px
}

.itemsRight{
  display: flex;
  flex-direction: row;
  width: 210px;
  justify-content: space-between;
}

.itemsRight span{
  color: tomato;
  margin-right: -20px
}

.itemsRight :nth-child(2){
 
}

.gainLossPositive{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2.2px;
  font-weight: 700;
  border-left: solid 1px rgba(236, 234, 234, 0.411);
  border-right: solid 1px rgba(236, 234, 234, 0.411);
}

.gainLossPositive :nth-child(1){
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.gainP{
  color: green;
}

.profitP{
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.profitP i{
  font-size: 25px
}

.profitP p{
  font-size: 30px;
  font-weight: 900;
}

.gainLossNegative{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2.2px;
  font-weight: 700;
  border-left: solid 1px rgba(236, 234, 234, 0.411);
  border-right: solid 1px rgba(236, 234, 234, 0.411);
}

.gainLossNegative :nth-child(1){
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.gainN{
  color: red;
}

.profitN{
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.profitN i{
  font-size: 25px;
  color: red; 
}

.profitN p{
  font-size: 30px;
  font-weight: 900;
}

footer{
  height: 50px;
  border-bottom: solid 4px rgba(236, 234, 234, 0.411);
  color: rgb(4, 230, 247);
  border-top: solid 2px rgba(236, 234, 234, 0.411);
  border-left: solid 1px rgba(236, 234, 234, 0.411);
  border-right: solid 1px rgba(236, 234, 234, 0.411);
}































